body {
    width: 375px;
}

.outer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
} 

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(hsla(252, 100%, 67%, 100%), hsla(241, 81%, 54%, 100%));
    color: hsl(0, 0%, 100%);
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.header-container h2 {
    color: rgb(212, 203, 247);
}

.main-score-container {
    background-image: linear-gradient(rgb(72, 41, 198), hsla(241, 81%, 54%, 20%));
    text-align: center; 
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
} 

.main-score-container h1 {
    font-size: 3.5rem;
    font-weight: 900;
}

.main-score-container h3 {
    font-size: 1.2rem;
    font-weight: 700;
    color: hsla(252, 100%, 75%, 100%);
}

.header-container h2 {
    margin-bottom: 10%; 
}

.main-score-container h1, .main-score-container h3 {
    margin: 0;
    padding: 0;
}

.result-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 70%;
    color: rgb(212, 203, 247);
    margin: 7% 0 7% 0;
}

.result-text h1, .result-text p {
    margin: 0%;
}

.result-text h1 {
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
}

.result-text p {
    color: rgb(212, 203, 247);
    margin-top: 5%;
}

.summary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: hsl(0, 0%, 100%);
    width: 80%;
    padding-top: 2%;
}

.summary-container h2 {
    display: flex;
    align-self: flex-start;
}

.reaction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-radius: 15px;
    background-color: hsla(0, 100%, 67%, 15%);
    margin: 3%;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 7%;
    font-weight: 700;
}

.reaction-lockup {
    display: flex;
}

.reaction-lockup p {
    margin-left: 10px;
}

.reaction p {
    color: hsla(0, 100%, 67%, 100%);
}

.memory {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-radius: 15px;
    background-color: hsla(39, 100%, 56%, 15%);
    margin: 3%;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 7%;
    font-weight: 700;
}

.memory-lockup {
    display: flex;
}

.memory-lockup p {
    margin-left: 10px;
}


.memory p {
    color: hsla(39, 100%, 56%, 100%);
}

.verbal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: hsla(166, 100%, 37%, 15%);
    border-radius: 15px;
    margin: 3%;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 7%;
    font-weight: 700;
}

.verbal-lockup {
    display: flex;
}

.verbal-lockup p {
    margin-left: 10px;
}

.verbal p {
    color: hsla(166, 100%, 37%, 100%);
}

.visual {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: hsla(234, 85%, 45%, 15%);
    border-radius: 15px;
    margin: 3%;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 7%;
    font-weight: 700;
}

.visual-lockup {
    display: flex;
}

.visual-lockup p {
    margin-left: 10px;
}

.visual p {
    color: hsla(234, 85%, 45%, 100%);
}

.reaction .score {
    color: black;
}

.reaction span {
    color: grey;
}

.memory .score {
    color: black;
}

.memory span {
    color: grey;
}

.verbal .score {
    color: black;
}

.verbal span {
    color: grey;
}

.visual .score {
    color: black;
}

.visual span {
    color: grey;
}

button {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.continue-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 3%;
}

.continue {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: center;
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    width: 100%;
    height: 3rem;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 700;
}

.continue:hover {
    background-image: linear-gradient(hsla(252, 100%, 67%, 100%), hsla(241, 81%, 54%, 100%));
    border: none;
    cursor: pointer;
}   

.continue:active {
    background-image: linear-gradient(hsla(252, 100%, 67%, 100%), hsla(241, 81%, 54%, 100%));
    border: none;
}   

.attribution {
    display: inline-block;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 11px;
    margin: 3%;
}

.attribution a { color: hsl(228, 45%, 44%)}

/* MEDIA QUERY FOR DESKTOP LAYOUT */
@media screen and (min-width: 835px) {
    .outer-container {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px;
    grid-gap: 30px;
    contain: content;
}
    .outer-container .header-container {
    grid-area: 1/1/2/2;
    height: 100%;
}
    .outer-container .summary-container {
    grid-area: 1/2/2/3;
    height: 100%;
}
    .result-text {
    width: 55%;
    }
    .header-container {
    border-radius: 25px;
    }
}
